:root {
  background: #000;
  color: palevioletred;
  font-family: "Comic Sans MS", cursive;
  background-image: url("./assets/ss027.gif");
  cursor: url("./assets/normal.cur"), auto;
}

a,
button {
  cursor: url("./assets/select.cur"), auto;
}
