:root {
  background: #000;
  color: palevioletred;
  font-family: "Comic Sans MS", cursive;
  background-image: url("./assets/ss027.gif");
  cursor: url("./assets/normal.cur"), auto;
}

a,
button {
  cursor: url("./assets/select.cur"), auto;
}

#sfc2uz61ynkrzp19qhe4cbhu56bj7psjqns {
    position: fixed;
    bottom: 0;
    right: 0;
}